<%= form_for(@video) do |f| %>
   <h1>Add a New Video</h1>

  <div class="field">
    <br>
    <%= f.text_field :video_link, placeholder: "https://", size: "50" %>
    <span class="errors" style="color:red;"><%= @video.errors[:video_link].first %></span>

    <br>
    <p>Add a new video by entering the YouTube or Wistia url link</p>
    <%#= f.label :video_link, "URL" %>
    <%#= f.video_field :video_link %>
  </div>
  <div class="actions">
    <%= f.submit "Continue", class: "btn" %>
  </div>
<% end %>
