<div class="responses_list">
  <div style="font-size:22px;margin:10px;">
    <% title = ''
      if @video.video_type == 'wistia' 
         v = VideoInfo.new("#{@video.video_link}")
         title = v.title
      end 
   %>
    <%= 'Response - '+title %> 
  </div>
  <table id="stdcode" class="table table-striped table-bordered dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
    <% if @responses.size > 0 %>
    <thead>
            <tr>
                <% @questions_label.each do |ql| %>
                <th><%= ql %></th>
                <% end %>
            </tr>
     </thead>
    
      <% @responses.each do |response|  %>
      <tr>
         <%  response.each do |row| %>
          <td height="50px" style="text-align: center;"><%= row %> </td>
          <% end %>
      </tr>
     <% end  %>
     <tfoot>
            <tr>
                <% @questions_label.each do |ql| %>
                <th><%= ql %></th>
                <% end %>
            </tr>
     </tfoot> 
   <% else %>
      <tr><td> There is no response available.</td></tr>
    <% end %>
  </table>
  
<script>
 $(function(){
   $('#stdcode').DataTable({
       "processing": true,
       "order": [[ 0, "desc" ]]
     });
 });
</script>
</div>
<% content_for :javascript_bottom do %> 
<% end %>