<%  
width = 100/@questions_label.size
%>
<div class="responses_list">
  <div style="font-size:22px;margin:10px;">
    <% title = ''
      if @video.video_type == 'wistia' 
         v = VideoInfo.new("#{@video.video_link}")
         title = v.title
      end 
   %>
    <%= 'Response - '+title %> 
  </div>
  <table border="1px solid lightgrey" width="100%">
    <% if @responses.size > 0 %>
    <tr>
        <% @questions_label.each do |ql| %>
      <td height="50px" style="text-align:center;width:<%=width.to_s+'%' %>"><strong><%= ql %></strong></td>
      <% end %>
    </tr>
      <% @responses.each do |response|  %>
      <tr>
         <%  response.each do |row| %>
          <td height="50px" style="text-align: center;"><%= row %> </td>
          <% end %>
      </tr> 
     <% end  %>
   <% else %>
      <tr><td> There is no response available.</td></tr>
    <% end %>
  </table>
  
  
</div>