#yt_video_title{
    font-size:25px;
    font-weight: bold;
    margin:1px;
    padding: 0px;
}
.video_link{
	text-align: center;
	top: 20px;
	height: 300px;
	margin-top: 198px;
}

.left_share_link{
	width:30%;
	float:left;
	margin-top: 50px;
}

.right_video_overlay {
    width: 50.6%;
    height: 480px;
    margin: auto;
    float:left;
    margin-top: 68px;
    opacity: 0.5;
    position: absolute;
    z-index: 9999;
    top: 124px;
}
.left_container {
    width:70%;
    margin: auto;
    float:left;
    margin-top: 68px;
}

.open_questions, .quiz_questions, .email_questions, .poll_questions, .cta_questions, .password_questions, .question, .new_questions{
	width:100%;
	margin-top: -465px;
	height:430px;
	border: 1px solid black	;
        position: absolute;
        z-index: 10000;
}

.quiz_error, .poll_error, .email_error, .open_error, .cta_error, .password_error{
    margin:0px 11px 11px 11px; 
}

.share_question {
    min-width:60%;
    position:absolute;
    background-color:white;
    border: 1px solid lightgray;
    border-radius: 6px;
    color: #333;
    height: 200px;
    border: 2px solid red;
    top:-220px;
    margin-left:-110px;
    text-align:left;
}

.video_lists {
    width:100%;
    text-align: center;
    
}
.parent {
    display: flex;
    font-size: 20px;
    flex-wrap:wrap;
    margin:-10px 0 0 -10px;
}
.child {
    display: inline-block;
    margin:60px 0 0 10px;
    flex-grow: 1;
    height:250px;    
    width: calc(100% * (1/3) - 10px - 1px)
}

#progressBar {
height: 30px;
background-color: #f4f4f4;
//display: none;
margin-top: 5px;
cursor: pointer;
}

#progressBar div {
height: 100%;
width: 0;
background-color: #55a2f4;
}


.moveAble {
    position: absolute;
    z-index: 10000;
}

.bold {
    font-weight: bold;
}

.time {
    color: grey;
    font-size: 10px;
}
.hover_actions{
    width:280px;
    height: 210px;
    margin-top: -250px;
    border: 1px solid lightgray;
    border-radius: 6px;
    background-color: #fff;
}
.hover-actions-header {
    border-bottom: 1px solid lightgray;
    padding: 10px;
    text-align: center;
}
.hover-actions-footer {
    border-top: 1px solid lightgray;
    padding: 8px 118px;
    margin-top: 125px;
    position: absolute;
    width: 99%;
}


.hover-actions-list-container {
    
}

.hover-actions-list {
    border: 0px solid red;
    margin-left: 10px;
    float: left;
    width: 45%;
    text-align: left;
    line-height: 40px;
}

.hover-actions-list .list-icon img {
    width: 15px;
    margin:2px;
}

.edit_hover_actions{
    width:175px;
    margin-top: -210px;
    border: 1px solid lightgray;
    border-radius: 6px;
    background-color: #fff;
}

.edit_hover-actions-footer {
    border-top: 1px solid lightgray;
    padding: 10px;
}


.edit_hover-actions-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.edit_hover-actions-list .list-icon img {
    width: 15px;
}
.edit_hover-actions-list li {
    margin: 10px;
}
.edit_hover-actions-list li a {
    color: #636c76;
    text-decoration: none;
    margin-left: 10px;
    
}
.edit_hover-actions-list li a:hover {
    color: #333;
}

/*
.hover_actions th{
	border-bottom: 1px solid #ccc;
	height:50px;
	background-color: #f2f2f2;
	text-align: 	center
}
*/
/*
.edit_hover_actions:after, .edit_hover_actions:before {
	top: -11px;
	left: 90px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.hover_actions:after, .hover_actions:before {
	top: -11px;
	left: 140px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}


.hover_actions:after, .edit_hover_actions:after {
	border-color: rgba(204, 204, 204, 0);
	border-bottom-color: #ccc;
	border-width: 10px;
	margin-left: -10px;
}
.hover_actions:before, .edit_hover_actions:before {
	border-color: rgba(204, 204, 204, 0);
	border-bottom-color: #ccc;
	border-width: 11px;
	margin-left: -11px;
}
*/
.move_cursor {
	position:absolute; 
        border:none;
        background-color: #96e3a3;
        height:30px; 
        width:3px;
        top: 0px;
        left: 14px;
        cursor: pointer;

}

.n_p_video_progressbar{
    position: relative;
    margin-top:-10px;
}
/*
.spot_question {
    background-color: #ff9c8f; border: none; height: 25px; position: absolute; top: 0px; width: 4px;
}
*/
.spot_question {
    background: #96e3a3 none repeat scroll 0 0;
    border: none; 
    height: 30px; 
    position: absolute; top: 0px; 
    width: 4px;
    cursor: pointer;
}

.spot_question::before {
    background: rgba(0, 0, 0, 0) linear-gradient(#fff 40%, #e8e8e8) repeat scroll 0 0;
    border: 2px solid #96e3a3;
    border-radius: 50%;
    content: " ";
    display: block;
    height: 12px;
    margin-left: -4px;
    margin-top: 9px;
    width: 12px;
    cursor: pointer;
}

.spot_question.active::before {
    background: #96e3a3 none repeat scroll 0 0;
    border-color: #96e3a3;
}

.spot_question.active {
    background: #96e3a3 none repeat scroll 0 0;
}
.error{
    color:red;
}

.secondary-link{
    color:#9a8e8e;
}
.secondary-link:hover{
    color:#817474;
}


/* --- question overlay --- */
.question-style {
    background-color: #55a2f4;
    border: none;
    color: #fff;
}

.question-style #video_title {
    margin-left: 20px;
}
.question-style .question_form_container {
    color: #000;
    background-color: #fff;
    width: 95%;
    margin: 20px;
    border: 1px solid #5481f2;
}
.question_form_container textarea {
    width: 96%;
    height: 90px;
    margin: 14px 14px 5px 14px;
}
.question_form_container .quiz_question_choices {
    padding-left: 16px;
}
.question_form_container .quiz_question_choices .radio_btns {
    margin-bottom: 10px;
}
.question_form_container .quiz_question_choices span {
    margin-right: 10px;
}

.question_form_container input[type=text]{
    padding: 6px;
    width: 94%;
}

.question_form_container p {
  margin: 14px 14px 0px 14px;
  color: #9a8e8e;
}
.email_questions .question_form_container{
    height: 300px;
}
/*************** share question **************/
.share-question-style #video_title {
    margin: 10px 15px;
    color: #333;
    font-weight: bold;
    text-align: justify;
    text-justify: inter-word;
}
.share-question-style {
    background-color: #fff;
    border: none;
    color: #333;
    z-index: 10000;
    margin:-25px 190px;
}

.share-question-style .share_question_form_container {
    color: #333;
    min-width: 95%;
    margin: -10px 6px;
}

.share-question-style .share_question_form_container #submit_actions{
    float: right;
}

.share_question_form_container textarea {
    width: 96%;
    height: 112px;
    margin: 10px 8px 5px 8px;
}

.share_quiz_question_choices {
    background-color: #fff;
    border: 1px
}
.share_question_form_container .share_quiz_question_choices {
    margin: 24px 16px;
    height: 105px;
}
.share_question_form_container .share_quiz_question_choices ul, .share_question_form_container .share_quiz_question_choices li {
    margin:0px;
    padding: 0px;
    list-style:none
}
.share_question_form_container .share_quiz_question_choices input[type=radio] {
    margin: 7px 5px;
}
.share_question_form_container .share_quiz_question_choices span {
    margin-right: 10px;
}

.share_question_form_container input[type=text]{
    height: 40px;
    width: 94%;
    margin: 15px 15px 10px
}


.radio-sprite {
    background-image: url('/assets/radio_sprite.png');
    background-position: -4px -3px;
    background-size: 90px 20px;
    background-repeat: none;
    width: 16px;
    height: 16px;
    display: inline-block;
    cursor: pointer;
}
.radio-sprite:hover {
    background-position: -72px -3px;
}
.question-style #submit_actions {
    float: right;
    margin: 10px;
}

.interaction_question_at{
/*    background-color:#3234f4;*/
    width:4px;
    height:20px;
    position:absolute;
    top:-20px;
    display: none;
}
/* --- question overlay --- */
#video_time_line{
    border:1px solid #ccc;
    max-height:250px;
    width:97%;
    overflow-y: scroll;
}
#video_time_line ul{margin:8px 15px;padding:0px;}
#video_time_line li{margin:5px;padding:0px;}
